<div class="animate__animated animate__fadeInRight">
  <br />

  <div class="col">
    <mat-card class="mat_card_trabajadores">
      <h1 class>Modulo de Trabajadores</h1>
    </mat-card>
  </div>

  <br />
  <mat-card class="mat-elevation-z5 mat_card_trabajadores_content">
    <mat-tab-group class="card_group_trabajadores">
      <mat-tab label="Trabajadores">
        <br />
        <app-agregar-trabajador></app-agregar-trabajador>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
          laudantium dolore amet aut ea est ad et magni sequi eos recusandae
          quasi, illo unde. Porro repudiandae molestiae illum officiis optio.
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et quos
          ipsa, necessitatibus minus at odit, ex voluptatem debitis aperiam unde
          non obcaecati consequuntur rerum eligendi qui vitae. Possimus, soluta
          ab.
        </p>
      </mat-tab>
      <mat-tab label="Historial">
        <hr />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
          perspiciatis dicta non ab excepturi aliquid perferendis? Repellat
          consectetur soluta reiciendis dolores cum, assumenda eius minus sit
          tempora, debitis, iure illum. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Dolores nihil accusamus blanditiis ut itaque magni
          sapiente tempore dolor aut architecto, accusantium facilis, nostrum
          ipsum nobis, esse vel possimus! Veniam, consequuntur.
        </p>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
  <hr />
</div>
