h1{
    text-align: center;
}

.row {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }
  

  .responsive {
    width: 100% !important;
    overflow-x: auto !important;
}

.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .superawesome { background-color: rgba(54, 162, 235, 0.2) }
.legend .awesome { background-color: rgba(255, 159, 64, 0.2); }