h1{
    text-align: center;
}

.row {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }

  .animated-digit {
    display: inline-flex;
    height: 100px;
    width: 100px;
    color: rgb(12, 1, 1);
    background: rgba(0, 0, 0, 0.2) 20%;
    text-align: center;
    padding: 24px;
    border-radius: 60px;
    border: 2px solid #77227a;
    margin-top:1em;
    justify-content:center;
    align-items: center;
    font-size:32pt;
  }