<!-- <mat-card class="shipping-card"> -->
<br><br><br>
<h1 >Hola {{nombreUsuario}} es hora ver el resultado de tus encuestas.</h1>


<br><br><br>
<div class="container">
    <div class="row">
        <div class="col">
        <h1>Total de encuestas realizadas.</h1>            
            <div #animatedDigit class="animated-digit" >
                <span>{{contEncuesta}}</span>
            </div>
            <div #animatedDigit class="animated-digit" >
                <span>{{favorito2}}</span>
            </div>
      </div>
    
    
    <div class="col">        
    <h1>Animales favoritos elegidos por las personas.</h1>
        <canvas #barChartbarras>
            {{ chart }}
        </canvas>              
      </div>  
       
    </div>
</div>
<!-- </mat-card> -->